<app-navbar-header></app-navbar-header>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Welcome</h1>
    <p style="font-size:20px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 300">You are a dreamer but like all of us you need just a
      <i>little</i> more help in your journey. Join AchieveOn, a community of experts, mentors, givers who help you find answers
      and get to your goals.
      <br>And, did we tell you, it is
      <b>FREE forever </b>!!</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a>
        <img class="img-responsive" src="assets/images/2.png" alt="image"> </a>
    </div>
  </div>
</div>
<div class="container container-fluid" style="background-color:#f8f8fc;">
  <div class=" row ">
    <div class="panel-body ">
      <div class="col-md-3 ">
        <div class="card thumbnail ">
          <img class="card-img-top " src="assets/images/2.png " alt="Card image cap ">
          <div class="card-body ">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
            <!-- <a href="# " class="btn btn-primary ">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-1 ">
        <img src="assets/images/3.png " class="inspire-img ">
      </div>
      <div class="col-md-3 ">
        <div class="card thumbnail ">
          <img class="card-img-top " src="assets/images/2.png " alt="Card image cap ">
          <div class="card-body ">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
            <!-- <a href="# " class="btn btn-primary ">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-1 ">
        <img src="assets/images/3.png " class="inspire-img ">
      </div>
      <div class="col-md-3 ">
        <div class="card thumbnail ">
          <img class="card-img-top " src="assets/images/2.png " alt="Card image cap ">
          <div class="card-body ">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
            <!-- <a href="# " class="btn btn-primary ">Go somewhere</a> -->
          </div>
        </div>
      </div>
    
    </div>
  </div>
<div class="row ">
    <img class="center-block image-responsive " src="assets/images/4.png " >
</div>
</div>