/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif; */

html {
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    min-height: 3000px;
    padding-top: 70px;
    font-family: 'Open Sans',sans-serif;
  }
  
  .thumbnail {
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
      box-shadow: 5px 5px 8px 0px;
      border: 2px solid #f3f7f9;
      padding: 5px;
  
  }
  
  .thumbnail img {
      width: 100%;
  }
  #custom_div{
      padding-left: 15px;
      padding-right: 15px;
  }
  .caption-inside-row{
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 15px;
      margin-left:0px;
      margin-right:0px;
  }
  .card-number-txt{
      margin-left: 5px;
  }
  .social-buttons{
      margin-left:10px;
  }
  
  
  .main-img{
      height: 203px !important;
  }


  
  .goal-dashboard-page {
      width:17px;
      height:17px;
      background-color: #f3dc5c;
      border-radius: 4px;

  }
  .card-bullet-01{
    width:17px;
    height:17px;
    background-color: #f3dc5c;
    border-radius: 4px;

  }
  .card-bullet-02{
    width:17px;
    height:17px;
    background-color: #88e45b;
    border-radius: 4px;

  }
  .card-bullet-03{
    width:17px;
    height:17px;
    background-color: #dbe8f0;
    border-radius: 4px;

  }
  .pull-left {
    float: left!important;
}

*, :after, :before {
    box-sizing: border-box;
}

.pull-right {
    float: right!important;
    padding: 1px 1px 1px 16px;
    color: #848d92
}
.tabMenuPanel2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}