<div class="col-md-12 col-xs-12 col-sm-12 no-padd  tabMenuPanel">
<ngb-tabset>
  <ngb-tab title="Simple">
    <ng-template ngbTabContent>
     <app-goal></app-goal>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Fancy title</ng-template>
    <ng-template ngbTabContent>
      <app-dimensions></app-dimensions>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
     <app-discover></app-discover>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>